html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
 
#container
 {
 	min-height: 100%;
 	position: relative;
 	
	background-color: #E9E0DB;
 }
 
 section {
 	padding: 10px;
 	padding-bottom: 20px;
 	
 	width: 80%;
	margin-left: auto;
	margin-right: auto;
 }
 
 img {
	width: 300px;
	border: 1px solid  #453823;
	float: right;
	clear: right;
	margin: 15px;
}

 footer {
 	position: absolute;
 	bottom: 0;
 	width: 100%;
 	height: 20px;
 	
 	text-align: center;
 	
	clear: both;
	font-family: Georgia, Tahoma, sans-serif;
	font-style: italic;
	font-size: 14px;
	background-color: #C9A798;
	border-top: 2px solid #453823;
	padding-top: 2px;
 }
 header{
	padding: 20px;
	background-image: url(img/wood-texture.jpg);
	
	height: 100px;

 }
 h1{
	display: inline;
	margin: 0px;
	font-family: chalkduster, sans-serif;
	color: #E9E0DB;
	padding: 50px;

}
#logo{
	position: static;
	size: 200px 100px;
	float: right;
	padding-right: 20px;

}

/* Kontakt oss skjema */
 form > input, form > textarea {
	border-radius: 10px;
	border: 2px solid #453823;
	background-color: #E9E0DB;
	padding: 5px;
	margin: 5px;
	width: 300px;
	font-family: "Century Gothic";
	font-size: 14px;
 }
 

 #postnr {
	width: 90px;
	margin-right: 0px;
 }
 
 #gate {
	width: 193px;
	margin-left: 0px;
 }
 
 #send {
	width: 80px;
	font-weight: bold;
 }

 form > label, form > p{
	text-align: left;
	display: inline-block;
	width: 140px;
	font-size: 16px;
	vertical-align: top;
	padding-top: 10px;
 }
 /* Slutten på kontakt oss skjema */

