/*felles for alle sidene*/
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

/*start navbar*/
#nav {
	font-family: Georgia, Tahoma, sans-serif;
	font-size: 20px;
	text-align: center;
}

#hjemBtn, #salgBtn, #inspirasjonBtn, #kontaktBtn {
	float: left;
	width: 25%;
	height: 30px;
	padding-top: 5px;
	box-shadow: 0px 0px 0px 1px #453823 inset;
	border-bottom: 1px solid #453823;
	background-color: #C9A798;
}

#salgMenu, #inspirasjonMenu {
	position: absolute;
	width: 25%;
	top: 174px;
	padding-top: 10px;
	box-shadow: 0px -2px 0px 2px #453823 inset;
	background-color: #B98D79;
	text-align: left;
	z-index: 5;
}
#inspirasjonMeny a:hover{
	font-weight: bold;
}

#salgMenu {
	height: 50px;
	left: 25%;
}

#inspirasjonMenu {
	height: 100px;
	left: 50%;
}

#salgMenu ul, #inspirasjonMenu ul {
	margin: 0;
	padding: 0 30%;
	list-style: circle;
}

#nav a {
	text-decoration: none;
}

#nav a:link {
	color: #000000;
	
}

#nav a:visited {
	color: #000000;
	
}

#nav a:hover {
	font-weight: bold;
}

.btn:hover {
	font-weight: normal;
}
/*slutt navbar*/
 
#container
 {
 	min-height: 100%;
 	position: relative;
 	
	background-color: #E9E0DB;
 }
p {
 	font-family: Century Gothic, Tahoma, sans-serif;
}
 
section {
 	padding: 50px;
 	padding-bottom: 20px;
 	width: 80%;
	margin-left: 150px;
	margin-right: auto;
 }
 
img {
	width: 300px;
	border: 1px solid  #453823;
	float: right;
	clear: right;
	margin: 15px;
}

footer {
 	position: absolute;
 	bottom: 0;
 	width: 100%;
 	height: 20px;
 	
 	text-align: center;
 	
	clear: both;
	font-family: Georgia, Tahoma, sans-serif;
	font-style: italic;
	font-size: 14px;
	background-color: #C9A798;
	border-top: 2px solid #453823;
	padding-top: 2px;
 }
 header{
	padding: 20px;
	background-image: url(img/wood-texture.jpg);
	height: 100px;
 }
header h1{
	display: inline;
	margin: 0px;
	font-family: chalkduster, sans-serif;
	color: #E9E0DB;
	padding: 50px;
	font-size: 48pt;
}

h1{
	font-family: Century Gothic, Tahoma, sans-serif;
}

#logo{
	position: static;
	float: left;
	bottom: 30px;
	margin: none;
	border: none;
	height: 90px;
	width: 7%;

}

#sidebar li{
	list-style-type: none;
	padding: 5px;
}
#sidebar li:hover{
	background-color: #B98D79;
}
#sidebar a{
	text-decoration: none;
	color: black;
	padding: 5px;
}
#sidebar ul{
	padding: 0px;
	margin: 0px;
}
#sidebar{
	position: fixed;
	float: left;
	width: 100px;
	background-color: #C9A798;
	border: solid #453823 2px;
	border-left: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	top: 250px;
	left: 0px;
}
#sidebar hr{
	color: red;
	margin: none;
}
/* slutt felles for alle sidene*/
/* Navigasjon*/
nav{
	background: linear-gradient(#BD9C7B, #C9A798);
	border-top: solid #453823 2px;
	border-bottom: solid #453823 2px; 
}
nav ul{
	list-style-type: none;
    margin: 0;
    padding: 10px 0 10px 0;
    width: 100%;
    height: 20px;
}
nav li{
	display: inline;
	font-family: georgia, serif; 
	color: #262626;
	font-size: 16pt;
	text-transform: uppercase;
	width: 25%;
	text-align: center;
	font-weight: bold;
	padding: 8px 60px 8px 60px;
}
/* Slutten på navigasjon*/

#kurs a{
	text-decoration: none;
	padding: 20px 20px 20px 30px;
	font-family: Century Gothic, Tahoma, sans-serif;
}
.Elem{
	border-bottom: solid #453823 2px;
}
/* Home page */
#knapper{
	width: 30%;
	text-align: center;
	vertical-align: center;
	margin: 130px 0px 100px 100px;
	float:left;
	padding-right: 0px;

}
#description{
	width: 40%;
	margin: 80px 100px 100px 0px;
	padding-left: 0px;
	float: left;
}
#description p{
	line-height: 200%;
	font-family: century gothic, Tahoma, sans-serif;
	color: white;
	text-shadow: 2px 2px black;
	font-size: 14pt;
}
#knapper a{
	font-family: sans-serif;
	color: white;
	font-weight: bold;
	font-size: 12pt;
	text-transform: uppercase;
	border: solid white 4px;
	background-color: rgba(26, 26, 26, 0.7);
	margin-bottom: 50px;
	text-align: center;
	padding: 10px;
	text-shadow: 2px 2px black;
	border-radius: 10px;
	text-decoration: none;

}
#slideshow{
	position: absolute;
	float: left;
	width:  100%;
	height: 70%;
	background-color: gray;
	background: transparent url(/Users/sarah/Desktop/slideImages/130126-grindbygg.jpg) repeat top left;
	background-size: 100% 80%;
	background-repeat: no-repeat;
	margin-top: 5%;
	margin-bottom: 10%;
	background-border-top: solid black 5px;
	z-index: 0;
	opacity: 0.8;

}
#slideshowForeground{
	position: absolute;
	margin-top: 6%;
	z-index: 1;
}
#home{
	margin-left: 0px;
	padding: 0px;
}
/* Slutten på home page*/

/* Kontakt oss skjema */
 form > input, form > textarea, #inputPlass, #captchaButton {
	border-radius: 10px;
	border: 2px solid #453823;
	background: transparent;
	padding: 5px;
	margin: 5px;
	width: 300px;
	font-family: Century Gothic, Tahoma, sans-serif;
	font-size: 14px;
 }
 
 #postnr {
	width: 90px;
	margin-right: 0;
 }
 
 #gate {
	width: 193px;
	margin-left: 0;
 }
 
 #send, #validate {
	width: 80px;
	font-weight: bold;
 }
 
 
 #send:active, #validate:active{
	border: 3px solid #453823;
 }

 form > label, form > p {
	text-align: left;
	display: inline-block;
	width: 140px;
	font-size: 16px;
	vertical-align: top;
	padding-top: 10px;
 }
 
 #leftKontakt {
	 display: inline-block;
	 margin: 0 100px 110px 0;
	 float: left;
 }
 
 #rightKontakt p {
	 font-size: 20px;
 }
 
 #rightKontakt ul {
	 list-style-type: none;
	 font-size: 18px;
 }
 
 #map {
	 width: 400px;
	 height: 300px;
	 border: 2px solid #453823;
 }
 
 #rightKontakt {
	 display: inline-block;
 }
 
 #kontaktOssSkjema {
	 padding-bottom: 152px;
	 font-family: Century Gothic, Tahoma, sans-serif;
 }
 
 #validation {
	 position: absolute;
	 margin: -59px 0 0 230px;
 }
 
 #captchan {
	 margin-left: -105px;
	 margin-top: 10px;
	 border: 2px solid #453823;
 }
 
 #inputPlass{
	width: 215px;
	height: 20px;
 }
 
 #warning{
	 margin-left: 150px;
 }

 
 /* Slutten på kontakt oss skjema */

#mediaplayer {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 350px;
}

/* Prisberegning på salgsiden */
#prisvalg p {
	margin-bottom: 1%;
	font-size: 18px;
}

select{
	width: 150px;
	margin: 0 2% 0 0;
	border-radius: 10px;
	border: 2px solid #453823;
	background: transparent;
	font-family: Century Gothic, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

#type, #tresort, #taktekke, #bekledning, #fundament{
	display: inline-block;
	position: float;
}

#prisKnapp {
	margin: 2% 2% 2% 0;
	width: 120px;
	font-weight: bold;
	border-radius: 10px;
	border: 2px solid #453823;
	background-color: #E9E0DB;
	padding: 5px;
	font-family: Century Gothic, Tahoma, sans-serif;
	font-size: 14px;
}

#tidsspenn{
	font-family: Century Gothic, Tahoma, sans-serif;
	font-size: 15px;
}

#prisOutput{
	display: inline-block;
	position: float;
	text-decoration: underline;
}
/* Slutt på salgsiden */

/* Bildegalleri */
.img {
    margin: 0px;
    padding: 0px;
    border: 0px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

.img img{
    display: inline;
    margin: 10px;
    border: 2px solid #ffffff;
}

.img a:hover img {
    border:2px solid #453823;
}

#galleriBilder {
	margin: 50px 0 0 140px;
	width: auto;
}

.clear { 
	clear:both; 
	width:100%; 
	font-size:1px; 
	padding-top: 50px;
}

/* Slutt på bildegalleri */